/app/private/
/android-timetracker/build/
/android-timetracker/app/build/
/android-timetracker/.nb-gradle/
/android-timetracker/.idea/workspace.xml
/android-timetracker/.idea/*.iws
/android-timetracker/.idea/tasks.xml
/android-timetracker/.idea/caches
/android-timetracker/.gradle
